name: Crocodile Bot 24/7

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */6 * * *' # Har 6 soatda restart
  workflow_dispatch: # Qo'lda yoqish tugmasi

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Start Bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: python main.py
